<%- include('./partials/header'); %>
<main>
 <div class="ui segment">
   <h1>Welcome to populate.</h1>
   <!-- Next step turn this button into a fetch -->
   <button href="/sources/allverbs">Download</button>
 </div>
</main>

<footer>
  <%- include ("./partials/footer") %>
</footer>

</body></html>