<%- include('./partials/header', {titleString: 'Data for population'}); %>
<main>
 <div class="ui segment">
  <h1>Welcome to populate.</h1>
   
  <button onclick="populateGerman()">Populate haben in German</button>

  <button onclick="downloadAll()">Download</button>
 </div>
</main>

<footer>
  <%- include ("./partials/footer") %>
</footer>

<script>
  const populateGerman = () => {
    fetch("sources/allverbs/de", {method: "PUT"})
      .then(response => {
        console.log(response);
      })
  }

  const downloadAll = () => {
    fetch("sources/allverbs")
      .then(response => response.json())
      .then(data => {
        let hiddenElement = document.createElement('a')
        hiddenElement.href = 'data:attachment/text,' + encodeURIComponent(JSON.stringify(data, undefined,));
        hiddenElement.target = '_blank';
        hiddenElement.download = 'allVerbs.json';
        hiddenElement.click();
        hiddenElement.remove();
      });
  }
</script>

</body>
</html>

