<%- include('../partials/header'); %>
  <main>
    <div class="ui segment">
      <h1>Welcome to db management..</h1>
      <p>
        You are successfully signed in.
      </p>
    </div>
  </main>

  <footer>
    <%- include ("../partials/footer") %>
  </footer>

  </body>

  </html>