<%- include('../partials/header'); %>
  <main>
    <div class="ui segment">
      <h1>Either the user or the password was incorrect..</h1>
      <div>Try again <a href="/auth">sign in</a>.</div>
      <div>Create a user <a href="/auth/signup">sign up</a>.</div>

  </main>

  <footer>
    <%- include ("../partials/footer") %>
  </footer>
  </body>

  </html>